= simple_form_for @form, url: project_project_subscribe_forms_path do |f|
  .row
    .col-md-12
      = f.input :name
    .col-md-12
      = f.input :cpf
    .col-md-12
      = f.input :telephone
    .col-md-12
      = f.input :teste
  %hr/
  .row
    .col-md-12
      = f.submit "Realizar minha inscrição" , class: 'btn btn-warning'
