.row
  .col-md-12
    %h1
      %b Acessos

%hr/
.row
  .col-md-12
    .panel.panel-default
      .panel-body
        = link_to 'Novo Usuário', new_user_path, class: 'pull-right btn btn-success btn-xs'
        %br/
        %br/
        %table.table
          %thead
            %tr
              %th #
              %th E-mail
              %th Criado em
              %th Último acesso
              %th Permissão
              %th Ações
        
          %tbody
            - @users.each_with_index do |user, index|
              %tr
                %td= index + 1
                %td= user.email
                %td= user.created_at.strftime("%d/%m/%Y")
                %td
                %td
                %td
                  = link_to 'Show', user
                  = link_to 'Edit', edit_user_path(user)
                  = link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
        

    
    