= simple_form_for(@project) do |f|
  = f.error_notification
  = f.input :title
  = f.input :description
  = f.input :start, as: 'string', input_html: { class: 'date',  value: (@project.start) ? localize(f.object.start) : nil}
  = f.input :end, as: 'string', input_html: { class: 'date',  value: (@project.end) ? localize(f.object.end) : nil}
  = f.input :publish
  = f.input :status
  = f.input :image_header, as: 'file'
  = f.input :image_logo, as: 'file'
  = f.input :image_footer, as: 'file'
  = f.button :submit
