= simple_form_for([@project, @nav]) do |f|
  = f.error_notification
  .row
    .col-md-12
      = f.input :title
  .row
    .col-md-2
      = f.input :nav_type, as: :select, collection: Nav::nav_types.keys.to_a, prompt: 'selecione...'
    .col-md-5
      = f.association :page, prompt: "selecione..."
    .col-md-5
      = f.input :url, input_html: { placeholder: "Digite uma url externa..."}
  .row
    .col-md-2
      = f.input :target, as: :select, collection: Nav::targets.keys.to_a, prompt: 'selecione...'
    .col-md-2
      = f.input :publish, as: :select, prompt: 'selecione...'
  %hr/
  .row
    .col-md-12
      = f.button :submit, class: 'btn btn-warning'
      = link_to "voltar", project_navs_path(@project), class: 'btn btn-default'
